HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# =========================
# Secrets / Environment
# =========================
.env
.env.*
!.env.example

# Spring local config
application-local.properties
application-secret.properties

### Spring Boot Configuration ###
# 로컬 개발용 및 비밀키가 포함된 설정 파일 제외
src/main/resources/application-local.yml
src/test/resources/application-local.yml

# (선택) 만약 기존의 properties 파일 잔재가 걱정된다면 함께 추가
src/test/resources/application-local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.factorypath
.project
.classpath
.settings/

# 가상환경 (혹시 파이썬 수집 스크립트를 같은 폴더에 두실 경우 대비)
.venv/
venv/
